@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

body{
    background: rgb(52, 56, 61);
}

p{
    color: white;
}
#TextSelectLanguage{
    position: absolute;
    width: 700px;
    height: 400px;
	left: 50%;
	margin-left: -250px;
	top: 55%;
	margin-top: -350px;

}

#stl{
    font-size: 40px;
    position: relative;
    text-align: center;
    left: 10%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
    width: 260px
}

#syl{
    font-size: 40px;
    position: relative;
    text-align: center;
    left: 40%;
	margin-left: 100px;
	top: 50%;
	margin-top: -180px;
    width: 200px
}

#USAlfag{
    position: relative;
	margin-left: -104px;
	margin-top: 200px;
}

#UkrainFlag{
    position: absolute;
	margin-left: 130px;
	margin-top: 200px;
}

#USAlfag :hover{
    filter:blur(0px);
    opacity: 1;
}

#UkrainFlag :hover{
    filter:blur(0px);
    opacity: 1;
}